@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline), sans-serif;
}

.font-headline {
  font-family: var(--font-headline), sans-serif;
}

.font-body {
  font-family: var(--font-body), sans-serif;
}